<main role="main">
<div class="jumbotron">
  <div class="container">
  <sub>Not to sound super corny, but.... </sub>
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">BAM! Got this baby up and running... finally. *eyeroll*</p>
  <!-- <hr class="my-4"> -->
  <p><b>Alrighty tighty... SO I'm creating this blog in hopes of accomplishing a couple things.</b>
  <br>One being to keep a cool record of my own journey.
  <br>Another being able to inspire others (hopefully...) to grab their pants and head towards their dream of creating something flipping awesome with code.
</p>
  <p>Believe me... if I can do it.... ANYONE CAN! I hate saying that. It sounds super corny, but it really does fit. Oh well. What're ya gonna do? <b>CODE, DUH!</b></p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
</div>

<div class="container">
<div class="row">
  <div class="col-md-4">
    <h2>Heading</h2>
    <p>This is where I'll put a blog post along with a mini description or an exerpt from the post. At the bottom is the button to go get more info on the post! Woo hoo so much to say and learn and teach!!</p>
    
    <p>
      <a class="btn btn-secondary" href="#" role="button" title="C'mon... DOO EET!">View Details</a>
    </p>
  </div>
  <div class="col-md-4">
      <h2>Heading</h2>
      <p>This is where I'll put a blog post along with a mini description or an exerpt from the post. At the bottom is the button to go get more info on the post! Woo hoo so much to say and learn and teach!!</p>
    
      <p>
        <a class="btn btn-secondary" href="#" role="button" title="C'mon... DOO EET!">View Details</a>
      </p>
    </div>
    <div class="col-md-4">
        <h2>Heading</h2>
        <p>This is where I'll put a blog post along with a mini description or an exerpt from the post. At the bottom is the button to go get more info on the post! Woo hoo so much to say and learn and teach!!</p>
    
        <p>
          <a class="btn btn-secondary" href="#" role="button" title="C'mon... DOO EET!">View Details</a>
        </p>
      </div>
</div>
</div>
</main>